* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.app-window {
  height: 100vh;
}

.app-list__item {
  padding: 20px;
}

.app-list__item:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}
