{{#el-layout elLayout='horizontal' elAlign='center'}}
  {{#el-layout elFlex='1'}}
    <div class="app-list__item__name">{{app.name}}</div>
    <div class="app-list__item__path">{{app.dir}}</div>
  {{/el-layout}}

  <div>
    {{#if app.isCloned}}
      <button>Pull</button>
      <button>Deploy</button>
      <button>Run</button>
    {{else}}
      <button>Clone</button>
    {{/if}}
  </div>
{{/el-layout}}
